header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center; /* alinha os itens verticalmente ao centro */
}

.dsmovie-nav-content{
    display: flex; /* ficar um ao lado do outro */
    justify-content: space-between;  /* faz os elementos ficarem um em cada ponta */
    align-items: center; 
    color: #FFF;
}

.dsmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}    

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}